* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
    background: #7A419B;
    background-size: cover;
    min-height: 100vh;
}

.player {
    position: relative;
    max-width: 750px;
    border: 5px solid rgba(0,0,0,0.2);
    overflow: hidden;
}

.player__video {
    width: 100%;
  }

  .player__button {
    border: 0;
    line-height: 1;
    background: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    max-width: 50px;
    outline: 0;
  }

  .player__slider {
    width: 10px;
    height: 30px;
  }

  .player__controls {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    background: rgba(0,0,0,0.1);
  }

  .player:hover .player__controls {
    transform: translateY(0);
  }

  .player:hover .progress {
    height: 15px;
  }

  .player__controls > * {
    flex: 1;
  }

  .progress {
      display: flex;
      flex-basis: 100%;
      flex: 10;
      position: relative;
  }